# Bitrix24 Domain
# Replace 'your-portal.bitrix24.com' with the domain of your Bitrix24 portal.
B24_DOMAIN=your-portal.bitrix24.com

# Bitrix24 Webhook
# Replace with your specific webhook information, formatted as shown.
# Example: "123/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
B24_WEBHOOK=123/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# Bitrix24 Client ID
# Replace 'your_app_code' with your actual application code obtained from Bitrix24.
B24_CLIENT_ID=your_app_code

# Bitrix24 Client Secret
# Replace 'your_app_secret' with your actual application secret obtained from Bitrix24.
B24_CLIENT_SECRET=your_app_secret

# Authentication Type
# Specify the type of authentication used for connecting to Bitrix24.
# Options are "webhook", "oauth", or leave it empty if you want to use both of them.
B24_PREFER_AUTH_TYPE="<webhook or oauth or leave empty>"